<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Thu Thập Dữ Liệu</title>
</head>
{% block body %}
<h1 style="text-align: center">
    Thu Thập Dữ Liệu
</h1>
<div style="text-align:right">
    <a href="/thuTapTuTrang" class=" btn btn-success">chuyển sảng thu thập Triệt để</a>
</div>
<p />
<p />
<div style="text-align: center;">
<form action="/" method="post">
    <label> Nhập Link URL Báo Vào :</label>
    <input type="text" name="url" />
    <input type="submit" value="OK" />
</form>
</div>
{% if stringResult %}
<br />

<div style="text-align: center;">
    <b>result :     {{stringResult}}</b>
</div>
{% endif %}
{% endblock %}

</html>