<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="https://github.com/BigVikker/CollectDataFromURL">
    <meta name="author" content="Võ Sỹ Việt">
    <link rel="stylesheet" href="{{ url_for('static', filename='cssStyle/bootstrap.min.css') }}">
    <title>Thu Thập Dũ Liệu Triệt Để</title>
</head>
<h1 style="text-align: center">
    Thu Thập Dữ Liệu Triệt Để
</h1>
<div style="text-align:right">
    <a href="/TimKiem" class=" btn btn-success">Chuyển sang trang tìm kiếm</a>
</div>
<div style="text-align:right">
    <a href="/Analysis" class=" btn btn-primary">chuyển sảng phân tích dữ liệu</a>
</div><
{% block body %}
<div style="text-align: center;">
<form action="/thuTapTuTrang" method="post" style="text-align: center">
<div class="row">
  <div>
    <label> Nhập Link Url : </label>
    <div class="input-group">

      <input type="text" class="form-control" name="url" id="url" placeholder="Nhập Link Url">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Thu Thập !</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</form>
</div>
{% if stringResult %}
<br />

<div style="text-align: center;">
    <b>result số lượng thông tin đã thu thập được :     {{stringResult}}</b>
</div>
{% endif %}

{% endblock %}

</html>